* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color-buton: #2d308e;
    --central-color: #f0f0f0;
    --central-senha: #fafafa;
    --forum-color: #2226a8;
    --text-color: #d9d9d9;
    --text-p-h2: #FFFFFF;
    --text-h1: #000000;
    --paragrafo: #004aad;
}

body {
    display: flex;

}

a {
    display: flex;
    text-decoration: none;
    color: var(--text-p-h2);
}

a:hover {
    border-bottom: solid 1px var(--text-p-h2);
}

picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure {
    font-size: 30px;
    text-align: center;
    color: var(--text-p-h2);
    font-weight: bold;

}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 990px;
    padding: 20px;
}



p {


    /*border: 1px solid #FFFFFF;*/
    font-weight: bold;
    color: #FFFFFF;
    height: 200px;
    font-size: 20px;
    text-align: justify;
    font-size: 15x;
    border-radius: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--forum-color);
}
i.container{
    display: flex;
    gap: 40px;
}

    .bi-arrow-left-square-fill{
        color: var(--text-p-h2);
    }

/* ============= TELA 01 ================ */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    flex-flow: column;
    width: 500px;
    height: 100vh;
    background-color: var(--forum-color);
}

.img-2 {
    height: 70px;
    width: 70px;
}

.img-3 {
    height: 70px;
    width: 70px;
}

.IMGTL-1 {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
}


.txt-informacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;


}

.txt {
    background-color: var(--forum-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 5px solid var(--color-buton);
}

button,
.btn-T1 {
    color: var(--central-color);
    background-color: var(--color-buton);
    border: none;
    outline: none;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.9s all;
}

.btn-T1:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
}

/* ============== TELA-002 ===================*/

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--central-senha);
    width: 500px;
    height: 500px;
    border: solid 2px var(--forum-color);
    border-radius: 5px;
}

h1,
.container-main {
    align-items: center;
    gap: 150px;
    padding: 20px;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    border: none;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--color-buton);
    border-radius: 5px;
    padding: 25px 30px;
    cursor: pointer;
    transition: 0.9s all;

}

.submit:hover {
    color: var(--text-p-h2);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);

}

.CPF {
    padding: 5px;
    border: solid 3px var(--color-buton);
    border-radius: 5px;
    outline: none;
}

/* ======================== TELA-003 ================= */

.container-op {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--central-senha);
    width: 500px;
    height: 500px;
    border: solid 2px var(--forum-color);
    border-radius: 5px;
    gap: 25px;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 20px
}

.btn-1 {
    justify-content: center;
    font-size: 22px;
    background-color: var(--color-buton);
    color: var(--text-p-h2);
    padding: 30px 40px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

.btn-2 {
    justify-content: center;
    background-color: var(--color-buton);
    color: var(--text-p-h2);
    padding: 30px 40px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

.btn-3 {
    justify-content: center;
    background-color: var(--color-buton);
    color: var(--text-p-h2);
    font-weight: bold;
    padding: 20px 5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

.btn-1:hover {

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}

.btn-2:hover {

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}

.btn-3:hover {

    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}

/* ==================== Tela 004 ================== */
.container-aud {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--central-senha);
    width: 500px;
    height: 500px;
    border: solid 2px var(--forum-color);
    border-radius: 5px;
}

h1,
.container-aud {
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.selecao-ho {
    font-size: 30px;
}

.btn-T4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

button,
.ho-1 {
    background-color: var(--color-buton);
    border-radius: 10px;
    padding: 10px 12px;
    transition: 0.9s all;
}

.ho-3,
.ho-2 {
    background-color: var(--color-buton);
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: 0.9s all;
}

.ho-1:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}

.ho-2:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}

.ho-3:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}

.opcao {
    font-size: 30px;
}

.op {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
}


.li-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.li-2 {
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: space-around;
}

.li-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.r-1 {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.r-2 {

    cursor: pointer;
    width: 30px;
    height: 30px;
}

.r-3 {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.btn-op-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-op {
    background-color: var(--color-buton);
    border-radius: 5px;
    border: none;
    padding: 15px;
    transition: 0.9s all;
}

.btn-op:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    color: var(--central-color);
}








