* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-buton: #2d308e;
    --central-color: #f0f0f0;
    --central-senha: #fafafa;
    --forum-color: #2226a8;
    --text-color: #d9d9d9;
    --text-p-h2: #FFFFFF;
    --text-h1: #000000;
    --paragrafo: #004aad;
}

.coteiner-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--paragrafo);
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}


header i {
    font-size: 60px;
    color: var(--text-p-h2);
}

header h1 {
    text-align: end;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-p-h2);
}


.controle-posicao {
    display: flex;
    padding: 30px;
    margin-top: 10px;
}

/* ===== Tabela ===== */

.fila-atendimento table {
    width: 90%;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    margin-left: 75px;
    box-shadow: 2px 2px 10px;
    table-layout: fixed;
}

.fila-atendimento th,
.fila-atendimento td {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 3px solid var(--forum-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fila-atendimento th {
    background-color: var(--forum-color);
    color: white;
    font-weight: bold;
}

.fila-atendimento tr {
    border: 3px solid var(--color-buton);
}

/* largura específica por coluna: */
.fila-atendimento th:nth-child(1),
.fila-atendimento td:nth-child(1) {
    width: 300px;
    /* Nome */
}

.fila-atendimento th:nth-child(2),
.fila-atendimento td:nth-child(2) {
    width: 200px;
    /* Composição */
}

.fila-atendimento th:nth-child(3),
.fila-atendimento td:nth-child(3) {
    width: 180px;
    /* CPF */
}

/* ===== Botões ===== */
/* Container principal */
.controle-btn-opcao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Linha superior - select e confirmar */
.linha-superior {
    display: flex;
    flex-flow: column;
    gap: 160px;
    align-items: center;
    padding: 20px;
}


/* Select box */
.selecionar-interno {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-p-h2);
    background-color: var(--paragrafo);
    border-radius: 9px;
    border: 2px solid var(--color-buton);
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
    text-align: center;
    appearance: none;
    outline: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
}



.confirmar-btn {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-p-h2);
    padding: 12px 50px;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 150px;
    text-align: center;
    background-color: var(--paragrafo);
    min-width: 150px;
}

.chamar-btn {
    background-color: var(--color-buton);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-p-h2);
    padding: 12px 50px;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 150px;
    text-align: center;
    background-color: var(--paragrafo);
    min-width: 150px;

}

/* Efeitos hover */
.confirmar-btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.btn_fila:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

@media (max-width:1212px){
    .controle-posicao{
    display: flex;
    flex-direction: column;
}
.controle-btn-opcao {
    display: flex;
    align-items: end;
    justify-content: end;
}
.linha-superior {
    display: inline-block;
    padding: 30px;
    
}
.linha-inferior{
    padding-right: 30px;
}

}