/* ==================== TELA 03 - INFORMAÇÕES REQUERIDAS ================== */
.container-aud {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--central-senha);
    width: 500px;
    height: 500px;
    border: solid 2px var(--forum-color);
    border-radius: 5px;
}

.container-aud h1 {
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.selecao-ho {
    font-size: 30px;
}

.btn-T4 {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    padding: 10px;
}

.ho-1, .ho-2, .ho-3 {
    background-color: var(--color-buton);
    border-radius: 10px;
    padding: 10px 12px;
}

.opcao {
    font-size: 30px;
}

.op {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
}

.li-1, .li-2, .li-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.li-2 {
    gap: 26px;
}

.r-1, .r-2, .r-3 {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.btn-op-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-op {
    background-color: var(--color-buton);
    border-radius: 5px;
    padding: 15px;
}